.home {
    background: #f5e0c5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10% 0 10%;
    flex-wrap: wrap;
    position: relative;
   
}

.home-content {
    max-width: 700px;
    position: relative;
    margin-left: 100px;
}

.home-content {
    max-width: auto;
    position: relative;
}

.hero-image img {
    width: 300px;
    height: 300px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 1000px;
}

.hero-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.home-content h1 {
    color: rgb(37, 34, 34);
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    margin: 5px 0 0;
    color: #777;
    font-style: italic;
    font-size: 22px;
}

.home-content h5 {
    color: rgb(41, 40, 40);
    font-size: 20px;
    margin: 20px 0 40px;
}

.facebook {
  color: #1877F2; 
}

.linkedin {
  color: #0077B5; 
}

.twitter {
  color: #1DA1F2; 
}

.instagram {
  color: #d3235d; 
}

.menu-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 5% 40px 5%;
    margin-top: 0;
    text-align: center;
  }

  .home-content {
    max-width: 100%;
    margin: 0;
    position: static;
  }

  .home-content h1 {
    font-size: 32px;
  }

  .home-content h3 {
    font-size: 24px;
  }

  .home-content p {
    font-size: 18px;
    margin: 15px 0 25px;
  }

  .hero-image img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
  .menu-btn {
    display: block;
  }

  .menu-toggle:checked ~ .navbar {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
}
